:root {
  --cols : 1;
}

@media(min-width:calc(320px * 2)) {
  :root {
    --cols : 2;
  }
}

@media(min-width:calc(320px * 3)) {
  :root {
    --cols : 3;
  }
}

@media(min-width:calc(320px * 4)) {
  :root {
    --cols : 4;
  }
}

@media(min-width:calc(320px * 5)) {
  :root {
    --cols : 5;
  }
}

@media(min-width:calc(320px * 6)) {
  :root {
    --cols : 6;
  }
}

@media(min-width:calc(320px * 7)) {
  :root {
    --cols : 7;
  }
}

@media(min-width:calc(320px * 8)) {
  :root {
    --cols : 8;
  }
}

@media(min-width:calc(320px * 9)) {
  :root {
    --cols : 9;
  }
}

@media(min-width:calc(320px * 10)) {
  :root {
    --cols : 10;
  }
}

@media(min-width:calc(320px * 11)) {
  :root {
    --cols : 11;
  }
}

@media(min-width:calc(320px * 12)) {
  :root {
    --cols : 12;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jgs_Font";
  background-color: black;
}

body * {
  font-size: calc(1rem * 1.25);
  line-height: calc(1rem * 1.25);
  font-weight: normal;
  text-decoration: none;
  color: white;
}

figure {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

figure, figure > * {
  width: calc( 100vw / var(--cols));
}

figure img, figure video {
  height: calc( 100vw / var(--cols));
}

img, video {
  display: block;
  object-fit: cover;
}

header {
  padding: 1rem;
}

header > * {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

li a {
  color: blue;
}

figcaption {
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
}
